.card-container {
  height: 55vh;
  width: 25vw;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
}

.card {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card .side {
  border: 1px solid transparent;
  border-radius: 2vh;
  box-shadow: 0 0 0.5vw #d3d3d3;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: rgba(255, 251, 251, 1);
}

.word {
  color: #333;
  font-size: 2.3em;
  padding-top: 40%;
}

.meaning {
  color: #333;
  font-size: 1.3em;
  padding-top: 20%;
}

.type {
  color: rgba(200, 10, 10, 1);
  font-size: 2.3em;
  padding-top: 10%;
}

.usage {
  font-size: 1.3em;
  padding-top: 2.5%;
}